<!--投稿一覧表示画面-->
<h1>投稿一覧表示画面</h1>



<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <!--User部分テンプレート-->
        <%= render 'users/userinfo', user: @user %>
      </div>
    </div>
  </div>
</div>