<!--ナビゲーションバーの部分-->
<header class="navbar navbar-inverse">
  <div class="container">
  	<nav class="nav navbar-nav nabvbar-left">
  		<nav class="navbar-brand">Bookers</nav>
  	</nav>

    <nav>
  	  <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <%= link_to "Home", user_path(@user), class: "glyphicon glyphicon-home" %>
        </li>
        <li class="nav-item">
          <%= link_to "User", users_path, class: "glyphicon glyphicon-user" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bookers", books_path, class: "glyphicon glyphicon-book" %>
        </li>
        <li class="nav-item">
          <%= link_to "logout", root_path, class: "glyphicon glyphicon-log-out" %>
        </li>
      </ul>
    </nav>
  </div>
</header>