<!--Aboutページ-->

<div class="body">
  <div class="container">
    <div class="row">
      <h1>
        welcome to
        <span class="glyphicon glyphicon-book"></span>
        <span class="font-weight-bold">Bookers!</span>
      </h1>
    </div>
  </div>
</div>